.container-menu-title{
  color: white;
  background-color: #121212;
}

.container-menu-title > h1 {
  margin: 10px auto;
  font-size: 135px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-weight: bold;
}


.container-menu-title > hr{
  margin: 10px auto;
}
