.articles{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
}

.articles2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex-direction: row-reverse;
}
